@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;600&display=swap');

body {
	padding: 0;
	margin: 0;
	font-family: "Space Grotesk", sans-serif;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	--text-width: 500px;
	color: blue;
}

a {
	text-decoration: none;
	color: currentColor;
	position: relative;
	font-weight: bold;
	transition: border-color 0.3s ease;
	border-bottom: 2px solid transparent;
}

a:hover {
	border-color: currentColor;
}

strong {
	font-weight: bold;
}

/* @group Navigation */

nav {
	display: flex;
	padding: 10px;
	align-items: center;
	justify-content: center;
	position: fixed;
	right: 0;
	left: 0;
	top: 0;
	z-index: 2;
}

nav div {
	margin-left: 10px;
	margin-right: 10px;
}

nav a {
	border-color: transparent;
	font-weight: normal;
}

nav div.main a {
	font-weight: bold;
}

nav div.main {
	font-size: 1em;
	margin: 0 auto 0 10px;
	display: inline;
	line-height: inherit;
}

.nav-line {
	border-top: 1px solid currentColor;
	width: 100%;
	opacity: 0.1;
}

#logo {
	width: 32px;
	height: 32px;
	background-color: currentColor;
	flex-shrink: 0;
	-webkit-mask-image: url(logo.svg);
	mask-image: url(logo.svg);
	mask-repeat: no-repeat;
	-webkit-mask-repeat: no-repeat;
	mask-position: center;
	-webkit-mask-position: center;
	mask-size: 18px;
	-webkit-mask-size: 18px;
	margin: 0;
}

#logo:hover {
	animation: bounce 0.5s ease;
}

#logo:active {
	opacity: 0.5;
}



@keyframes bounce {
  0%   { transform: translateY(0); }
  25% { transform: translateY(5px) scaleY(0.8); }
  50% { transform: translateY(-5px) scaleY(1.2); }
  100% { transform: translateY(0px); }
}

/* @end */

#splash {
	max-width: var(--text-width);
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	min-height: 60vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.scroll-invitation {
	font-size: 3em;
	margin-bottom: -3em;
	margin-top: 1em;
}

/* @group Content */

#content {
	min-height: 80vh;
}

section {
	margin: 10%;
	position: relative;
	text-align: center;
}

.section-content {
	max-width: var(--text-width);
	margin-left: auto;
	margin-right: auto;
	margin-top: 3em;
}

p {
	max-width: var(--text-width);
}

p.big {
	font-size: 1.5em;
}

h1 {
	font-size: 4em;
	line-height: 1.1;
	margin-top: 0;
	max-width: var(--text-width);
}

h2 {
	font-size: 2em;
	line-height: 1.3;
	max-width: var(--text-width);
}

h3 {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 1em;
	max-width: var(--text-width);
}

ul {
	padding-left: 1.3em;
	list-style-type: square;
	max-width: var(--text-width);
}

li {
	margin-bottom: 0.5em;
}

hr {
	border: none;
	border-top: 2px solid currentColor;
	width: 50px;
	left: 0;
	margin-bottom: 2em;
	margin-top: 2em;
}

img {
	pointer-events: none;
}

/* @end */

/* @group Goodie Image */

.goodie-image {
	background-color: blue;
	width: 80vw;
	height: 40vw;
	border-radius: 20px;
	position: relative;
}

.goodie-image:before {
	position: absolute;
	background: inherit;
	border-radius: inherit;
	content: "";
	right: 0;
	left: 0;
	bottom: 0;
	top: 0;
	filter: blur(40px);
	transform: translateY(20px);
	z-index: -1;
}

/* @end */

/* @group Download */

.download {
	display: flex;
	justify-content: center;
	margin-top: 2em;
}

.button {
	border: 2px solid;
	border-radius: 10px;
	padding: 5px 15px;
	font-weight: 600;
	margin-right: 5px;
	margin-left: 5px;
}

.arrow {
	position: absolute;
	font-size: 2.5em;
	right: 15px;
}


/* @end */

/* @group Footer */

footer {
	margin-top: 10%;
	padding: 10%;
	/*border-top: 2px solid currentColor;*/
	text-align: center;
	background-color: currentColor;
}

#footer-content {
	max-width: var(--text-width);
	margin-right: auto;
	margin-left: auto;
	color: white;
}

footer h2 {
	font-size: 2em;
	margin-top: 0;
	margin-bottom: 0.5em;
}

footer p {
	margin-bottom: 0;
	margin-top: 0.5em;
}



/* @end */

@media only screen and (max-width: 740px) {
	
	/*.scroll-invitation {
		position: static;
		font-size: 3em;
		margin-left: -0.1em;
		display: none;
	}*/
	
}

@media only screen and (max-width: 500px) {
	
	
	
	h1 {
		font-size: 3em;
	}
	

	
}